.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto; }
  .users .card {
    position: relative;
    width: 200px;
    margin: 0 25px 25px 0;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    border-radius: 12px; }
    .users .card:hover {
      box-shadow: 0 30px 18px -8px rgba(0, 0, 0, 0.1);
      transform: scale(1.1, 1.1); }
      .users .card:hover .profile-img__expand {
        opacity: 0.3;
        height: 100%;
        transition: 0.2s all ease-out;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px; }
    .users .card .profile-img {
      width: 100%;
      height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    .users .card .profile-img__dummy {
      visibility: hidden; }
    .users .card .profile-img__expand {
      position: absolute;
      width: 100%;
      height: 300px;
      top: 0;
      left: 0;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px; }
    .users .card .card-body {
      background: rgba(193, 193, 193, 0);
      padding: 16px 24px 24px; }
      .users .card .card-body .title {
        font-size: 12px; }
      .users .card .card-body .email {
        font-size: 10px;
        font-weight: bold;
        color: #c1c1c1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif; }

.container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-image: -webkit-linear-gradient(bottom, #ff9a9e 0%, #fad0c4 100%);
  background-image: -o-linear-gradient(bottom, #ff9a9e 0%, #fad0c4 100%);
  background-image: linear-gradient(to top, #ff9a9e 0%, #fad0c4 100%);
  position: relative; }

.wrapper {
  margin: 120px auto;
  padding: 12px;
  text-align: center; }

#title {
  font-size: 2em;
  margin-bottom: 24px; }

