.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2.5rem;
  width: calc(100% - 2.5rem - 2.4rem);

  .card {
    position: relative;
    width: 20rem;
    margin: 0 2.5rem 2.5rem 0;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    border-radius: 1.2rem;

    &:hover {
      box-shadow: 0 3rem 1.8rem -.8rem rgba(0, 0, 0, 0.1);
      transform: scale(1.10, 1.10);

      .profile-img__expand {
        opacity: 0.3;
        height: 100%;
        transition: 0.2s all ease-out;
        border-bottom-left-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
      }

      @media only screen and (max-width: 768px) {
        transform: scale(1.02, 1.02);
      }
    }

    .profile-img {
      width: 100%;
      height: 30rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media only screen and (max-width: 768px) {
        height: 23rem;
      }
    }

    .profile-img__dummy {
      visibility: hidden;
    }

    .profile-img__expand {
      position: absolute;
      width: 100%;
      height: 30rem;
      top: 0;
      left: 0;
      border-top-left-radius: 1.2rem;
      border-top-right-radius: 1.2rem;

      @media only screen and (max-width: 768px) {
        height: 23rem;
      }
    }

    .card-body {
      background: transparentize($gray, 1);
      padding: 1.6rem 2.4rem 2.4rem;

      .title {
        font-size: 1.2rem;
      }

      .email {
        font-size: 1rem;
        font-weight: bold;
        color: $gray;
        white-space: pre-wrap;
        word-break: break-word;
      }
    }

    @media only screen and (max-width: 768px) {
      width: 18rem;
      margin: 0 1.2rem 1.2rem 0;
    }

    @media only screen and (max-width: 468px) {
      width: 18rem;
      margin: 0 0.5rem 0.5rem 0;
    }
  }

  @media only screen and (max-width: 768px) {
    margin-left: 1.2rem;
    width: calc(100% - 1.2rem);
  }

  @media only screen and (max-width: 468px) {
    margin-left: 0.5rem;
    width: calc(100% - 0.5rem);
  }
}