@import "variables";
@import "users";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

:root {
  font-size: 62.5%; // 1rem = 10px
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-image: -webkit-linear-gradient(bottom, $background-start 0%, $background-end 100%);
  background-image: -o-linear-gradient(bottom, $background-start 0%, $background-end 100%);
  background-image: linear-gradient(to top, $background-start 0%, $background-end 100%);
  position: relative;
}

.wrapper {
  margin: 10rem auto;
  padding: 1.2rem;
  text-align: center;

  @media only screen and (max-width: 768px) {
    margin: 2.4rem auto;
    padding: 0;
  }

  @media only screen and (max-width: 468px) {
    margin: 1.2rem auto;
    padding: 0;
  }
}

#title {
  font-size: 4rem;
  margin-bottom: 2.4rem;
  @media only screen and (max-width: 768px) {
    font-size: 3rem;
  }

  @media only screen and (max-width: 468px) {
    font-size: 2.5rem;
  }
}