@import "variables";
@import "users";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-image: -webkit-linear-gradient(bottom, $background-start 0%, $background-end 100%);
  background-image: -o-linear-gradient(bottom, $background-start 0%, $background-end 100%);
  background-image: linear-gradient(to top, $background-start 0%, $background-end 100%);
  position: relative;
}

.wrapper {
  margin: 120px auto;
  padding: 12px;
  text-align: center;

  @media (min-width: 320px) and (max-width: 480px) {
    margin: 12px auto;
    padding: 0;
  }
}

#title {
  font-size: 2em;
  margin-bottom: 24px;
}